.container {
  margin: auto;
  margin-top: 60px;
  max-width: 500px;
}

.title {
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: center;
}

.error {
  color: #ec4b4b;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin: 30px 10px;
}

.formGroup label {
  margin-bottom: 10px;
}

.formGroup select {
  height: 30px;
}

.btn {
  width: calc(100% - 20px);
  margin: 0 10px;
}
