.container {
  margin: auto;
  width: 600px;
  margin-bottom: 20px;
  padding: 50px;
}

.message {
  overflow-wrap: break-word;
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.message:hover {
  color: black;
  text-shadow: 0 0 0 transparent;
}