.container {
  margin: auto;
  margin-top: 60px;
  min-width: 250px;
  max-width: 550px;
}

.title {
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: center;
}

.error {
  color: #ec4b4b;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.selectBox {
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
}

.optionLabel {
  display: flex;
  align-items: center;
}

.accountName {
  margin-left: 10px;
}

.accontAddress {
  color: #999;
  margin-left: auto;
  order: 2;
}

.btn {
  width: calc(100% - 20px);
  margin: 0 10px;
}

.separator {
  margin: 20px 10px;
  border-top: 1px solid #D4D5D6;
}

.hintBox {
  margin: 0px 10px;
}

.hint {
  color: #999;
  font-size: 0.8em;
}

.hint a {
  color: #333;
  text-decoration: none;
}