.container {
  margin: auto;
  margin-top: 60px;
  max-width: 550px;
}

.title {
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: center;
}

.error {
  color: #ec4b4b;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin: 30px 10px;
}

.formGroup label {
  margin-bottom: 10px;
}

.formGroup select {
  height: 30px;
}

.btn {
  width: calc(100% - 20px);
  margin: 0 10px;
}

.separator {
  margin: 20px 10px;
  border-top: 1px solid #D4D5D6;
}

.hint {
  color: #999;
  font-size: 0.8em;
}

.hint a {
  color: #333;
  text-decoration: none;
}